<%
=begin%>
 <section>
  <div>
    <h2><%= @post.title %></h2>
    <p><%= @post.text %></p>
    <div>
       <b>comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter%> </b>
    </div>
  </div>
  <div>
    <%= render @post.comments %>
  </div>  
<%
=end%>

<%= render partial: "partials/singlepost", locals: { post: @post } %>